.slider {
  margin-right: 3em;
  margin-left: 3em; }

.item {
  text-align: center; }

.item img {
  margin: 0 auto;
  margin-bottom: 2em; }

/* Small only */
/* Medium and up */
/* Medium only */
/* Large and up */
/* Large only */
